@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: rgb(25,130,219);
	background: linear-gradient(164deg, rgba(25,130,219,1) 0%, rgba(18,160,209,0.865983893557423) 54%, rgba(0,212,255,1) 100%);
	color: #fff;
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h1 {
	color: #fff;
	letter-spacing: 1px;
	font-size: 30px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 450px;
}

.circle {
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	margin: 8px;
	height: 14px;
	width: 14px;
	transition: transform 0.3s linear;
}

.circle.grow {
	transform: scale(2);
	background: rgb(25,130,219);
	background: linear-gradient(164deg, rgba(25,130,219,1) 0%, rgba(18,160,209,0.865983893557423) 54%, rgba(0,212,255,1) 100%);
}